@model List<Book>

<partial name="_SidebarPartial" />


@{
	if (Model != null && Model.Count > 0)
	{
		<section class="container section posts-entry posts-entry-sm bg-light">
			<div class="col-sm-6 mb-4">
				<a asp-controller="Topics" asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Quay lại</a>
			</div>
			<div class="d-flex">
				@foreach (var obj in Model)
				{
					<div class="col-md-6 col-lg-3">
						<div class="blog-entry">
							<a asp-controller="Books" asp-action="Detail" asp-route-Id="@obj.Id" class="img-link">
								<img src="~/Images/@obj.UrlImgCover" alt="Image" class="img-fluid">
							</a>
							<h2>Tên sách: @obj.BookName</h2>
							<span>Giá: @obj.Price</span>
							<p>@obj.Description</p>
							<span class="date">@obj.DateUpdate.ToString("dd/MM/yyyy")</span>
						</div>
					</div>
				}
			</div>
		</section>
	}
	else
	{
		<div class="row">
			<h1 class="text-center mt-5">Không tìm thấy sản phẩm của NXB này !</h1>
			<div class="col-sm-6">
				<a asp-controller="Publishers" asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Quay lại</a>
			</div>
		</div>
	}
}
</div>