
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using Book_Store.Models
@model List<Book>
<h1 class="text-center p-3">Quản lý sách</h1>

<div class="container-fluid">

@{
	if (Model != null)
	{
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Tên sách</th>
                        <th>Giá</th>
                        <th>Mô tả</th>
                        <th>Ngày cập nhật</th>
                        <th>Ảnh bìa</th>
                        <th>Số lượng tồn kho</th>
                        <th>Tên chủ đề</th>
                        <th>Tên NXB</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Id</td>
                            <td>@obj.BookName</td>
                            <td>@obj.Price</td>
                            <td>@obj.Description</td>
                            <td>@obj.DateUpdate.ToString("dd/MM/yyyy")</td>
                            <td><img src="~/Images/@obj.UrlImgCover" height="100" width="70"/></td>
                            <td>@obj.InventoryNumber</td>
                            <td>@obj.Topic.TopicName</td>
                            <td>@obj.Publisher.NamePublisher</td>
                            <td><a href="@Url.Action("Edit", "Admin", new { id = item.id })" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit</a></td>
                            <td><a href="@Url.Action("Delete", "Admin", new { id = item.id })" class="btn btn-danger"><i class="bi bi-trash2-fill"></i> Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
	}
}
</div>