@{
	ViewData["Title"] = "Products";
}

<partial name="_SidebarPartial" />

<div class="col-10">
	@model IEnumerable<BookAPI>

	@{
		if (Model != null)
		{
			<section class="section posts-entry posts-entry-sm bg-light">
				<div class="container d-flex">
					<div class="row">
						@foreach (var obj in Model)
						{
							<div class="col-md-6 col-lg-3">
								<div class="blog-entry">
									<a asp-controller="Books" asp-action="Details" asp-route-Id="@obj.Id" class="img-link">
										<img src="@obj.Formats.GetValueOrDefault("image/jpeg")" alt="Image" class="img-fluid">
									</a>
									<h2>Tên sách: @obj.Title</h2>
									<span>Giá: @obj.Id</span>
									<p>@obj.Subjects[0]</p>
									<span class="date">@obj.Authors[0].BirthYear</span>
								</div>
							</div>
						}
					</div>
				</div>
			</section>
		}
	}
</div>
</div>